
.classTitle {
  text-align: center;
  font-size:30px;
}

.hpNum {
  color: #000;
}

#warriorTitle {
  color: #c96;
}
#mageTitle {
  color: #5dc4ed;
}
#hunterTitle {
  color: #87cd73;
}
#rogueTitle {
  color:#ff6
}
.health-bar {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 200px;
  height: 30px;
  padding: 5px;
  background: #ddd;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  position: relative;
}
.bar {
  background: #c54;
  width: 100%;
  height: 20px;
  position: relative;
  padding-top: 2px;
  transition: width .5s linear;
}
.health-bar{

  text-align: center;
}
.hit {
  background: rgba(255,255,255,0.6);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 0px;
  
  transition: width .5s linear;
}

html {
  height: 100%;
  zoom: 52%;
}

#title {
  font-size: 100px;
  text-align: center;
  color: white;
  margin-bottom: 50px;
}
body {
  min-height: 100%;
  overflow-x:hidden;
  background-image:url("../images/background.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: black;
  font-family: 'Bungee Inline', cursive;
  font-family: 'Gravitas One', cursive;
  font-family: 'Vast Shadow', cursive;
}

img {
	width: 200px;
	height: 200px;

}



button {
  background-color:#238f4e;
  color:#FFF;
  text-shadow: 1px 1px 1px #000;

}

.btn {
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 10px;
}

#gameText {

    font-size: 50px;
    text-align: center;
    color: white;
    background-color: black;
    padding: 10px;
    margin-bottom: 50px;


}
#howToText {
  font-size: 30px;
  padding: 20px;
  line-height: 1.5em;
  
}



/* MODAL CSS */
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    
}
.modal-content {

      margin-top: 200px !important;
       background-color: #5ff5a7 !important;
          /* margin: 0 !important;
          top: 50%;
          left: 50%;
          margin-right: -50%;
          transform: translate(-50%, -50%) */
}
.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}
.modal-body {padding: 2px 16px;}

/* Modal Footer */
.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}


/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s
}


/* Add Animation */
@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}


/* The Close Button */
.close {
    color: black;
    float: right;
    font-size: 60px;
    font-weight: bold;
    font-style: normal;
    font-family: sans-serif;
    opacity: 1 !important;
}

.close:hover,
.close:focus {
    color: grey;
    text-decoration: none;
    cursor: pointer;
    opacity: .2;
}

/* END MODAL CSS */

.panel-title {

    text-align: center;
    font-size: 160%;
    background-color: #238f4e;

}

.panel-body {
    background-color: #5ff5a7;
}

.panel-heading {
  background-color: #238f4e;
  padding: 0px;
}

.jumbotron {
  background-color: #238f4e;
  padding-top: 20px;
  padding-bottom: 20px;
}
.jumbotron h1 {
  width: 125%;
}

/*------ IMAGES ------------------------------------------------*/

.work {
  position: relative;
  width: 200px;
  margin: 20px 0 25px;
  overflow: none;
  margin-top: 0px;
  margin-bottom: 0px;
}
/* .work:hover {
    -webkit-transform: scale(1.03);
    -ms-transform: scale(1.03);
    transform: scale(1.03);
    -webkit-box-shadow: 0 5px 16px #5b6e8e;
    box-shadow: 0 5px 16px #5b6e8e
} */
.classCard:hover {
  -webkit-transform: scale(1.03);
  -ms-transform: scale(1.03);
  transform: scale(1.03);
  -webkit-box-shadow: 0 5px 16px #5b6e8e;
  box-shadow: 0 5px 16px #5b6e8e
}
.work:nth-child(even) {
  margin-right: 40px;
}

.work img {
  width: 100%;
  border: 0 none;
  opacity: 0.8;
}

.work h3 {
  font-size: 85%;
  position: absolute;
  bottom: 20px;
  width: 100%;
  padding: 15px;
  margin-bottom: 0;
  font-weight: 300;
  line-height: 30px;
  color: #fff;
  text-align: center;
  background: #238f4e;
  border-bottom: 0;
}

/*------ END IMAGES ------------------------------------------------*/



.row {
  margin-left: 1%;
}


@media (min-width: 992px) {

.col-md-2 {

  width: 11%;

}

}

@media (min-width: 992px) {

  #characterArea {
    width: 67%;
  }
  #enemiesArea {
    width: 67%;
  }
  #defenderArea {
    width: 67%;
  }



}

